development:
  adapter: async

test:
  adapter: test

production: &production
  adapter: solid_cable
  polling_interval: 0.1.seconds
  message_retention: 1.day
<% extra_environments.each do |environment| -%>

<%= environment %>:
  <<: *production
<% end -%>
